* h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #e8e8e8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}


.bhromaon-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.title {
    font-family: Aleo;
    font-size: 36px;
    line-height: 26px;
    font-weight: 400;

}

.btn {
    width: 225px;
    height: 60px;
    
    font-family: Aleo, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: #5474fd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main {
    background: url("images/bg1.png") center no-repeat;
    background-size: cover;
    
    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
    }

    &__title {
        font-size: 48px;
        padding-top: 10%;
        margin-bottom: 16px;
        text-align: center;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.31em;
        margin-bottom: 50px;
        text-align: center;
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        width: 100%;
        
    }

    &__input {
        border: none;
        display: block;
        width: 100%;
        max-width: 500px;
        padding: 0 10px;
    }

    ::placeholder {
        font-family: 'Josefin Sans';
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.2em;
        color: #999999;
        text-align: center;
    }

    &__btn {
        border: 2px solid #ffffff;
        width: 150px;
    }
    &__btn-icon {
        margin-left: 5px;
        height: 30px;
        width: 30px;
        background-color: #ffffff;
        mask-image: url("fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG/search.svg");
    }

    &__block {
        margin-bottom: 135px;
        text-decoration: none;
    }


    &__scroll {
        font-size: 14px;
        letter-spacing: 0.2em;
        color: #ffffff;
        margin-bottom: 16px;
    }

    &__scroll-icon {
        background-color: #ffffff;
        width: 30px;
        height: 30px;
        mask-image: url("fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG/angle-down-circle.svg");
        margin: 0 auto;
    }

}

.header {
    background-color: #5474fd;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 30px 15px;
    }
    // .header__title

    &__title {
        align-self: center;
    }

    // .header__nav

    &__nav {
        display: flex;
    }

    // .header__nav-link

    &__nav-link {
        font-family: Aleo;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        margin-left: 34px;
        flex-shrink: 0;
    }
}



.why {


    &__upper-block {
        background: url("images/bg2.png") center no-repeat;
        background-size: cover;
    }
    // .why__container

    &__container {
        display: flex;
        justify-content: space-around;
        padding-top: 120px;
    }

    &__lower-block-container {
        display: flex;
        justify-content: space-around;
        padding-top: 120px;
    }

    // .why__upper-block

   

    // .why__left-block

    &__left-block {
    }

    // .why__title

    &__title {
        margin: 84px 0 62px 0;
    }

    // .why__text

    &__text {
        max-width: 700px;
        margin-bottom: 48px;
    }

    // .why__btn

    &__btn {
        margin-bottom: 100px;
    }

    // .why__pic

    &__pic {
        text-align: end;
    }


    &__pic img:first-child {
        margin-right: 124px;
    }

    // .why__lower-block

    &__lower-block {
        background-color: #333333;


        // .why__lower-block_item

        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__item-title {
        margin: 34px 0 120px 0 ;
    }

    // .why__icon

    &__icon1 {
        width: 58px;
        height: 57px;
        background-color: #5474fd;
        mask-image: url('fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG/search.svg');
        mask-size: cover;
    }

    &__icon2 {
        width: 60px;
        height: 61px;
        background-color: #ff6363;
        mask-image: url("fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG/check.svg");
        mask-size: cover;
    }

    &__icon3 {
        width: 60px;
        height: 59px;
        background-color: #00a2ff;
        mask-image: url("fonts/Icon-font-7-stroke-PIXEDEN-v-1.2.0/SVG/like2.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
    }
}
.places {

    // .places__container

    &__container {
    }

    // .places__place1

    &__place1 {
        background: url("images/bg3.png") center no-repeat;
        background-size: cover;
        padding: 100px 0;
    }

    // .places__block

    &__block1 {
        opacity: 0.9;
        background-color: #232323;
        max-width: 480px;
        width: 100%;
        padding: 50px 30px;
        margin-top: 130px;
    }

    &__block2 {
        opacity: 0.9;
        background-color: #232323;
        max-width: 480px;
        width: 100%;
        padding: 50px 30px;
        margin-top: 130px;
        margin-left: auto;
    }

    // .places__subtitle

    &__subtitle {
        font-size: 20px;
        letter-spacing: 0.075em;
        margin-bottom: 30px;
    }

    // .places__title

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 30px;
    }

    // .places__text

    &__text {
        margin-bottom: 48px;
    }

    // .places__btn

    &__btn {
    }

    // .places__place2

    &__place2 {
        background: url("images/bg4.png") center no-repeat;
        background-size: cover;
        padding: 100px 0;
    }
}
.what {
    background: url("images/bg6.png") center no-repeat;
    background-size: cover;

    // .what__container

    &__container {
        padding: 108px 15px;
    }

    // .what__title

    &__title {
        text-align: center;
        margin-bottom: 94px;
    }

    // .what__block

    &__block {
        display: flex;
        margin-bottom: 80px;
    }

    // .what__img

    &__img {
        object-fit: cover;

    }

    // .what__blockquote

    &__blockquote {
        padding: 40px 20px 40px 46px;
        margin: 0;
        font-style: normal;
        background-color: #333333;
    }

    // .what__author

    &__author {
        font-size: 20px;
        text-transform: uppercase;
        color: #fefefe;
        font-style: normal;
    }

    // .what__text

    &__text {
        margin-top: 22px;
    }
}
.footer {
    background-color: #232323;
    text-align: center;

    // .footer__container

    &__container {
    }

    // .footer__title

    &__title {
        margin: 0 auto 16px auto;
        padding-top: 120px;
        
    }

    // .footer__text

    &__text {
        letter-spacing: 0.1em;
        color: #ffffff;
        margin-bottom: 30px;
    }

    // .footer__social

    &__social {
        padding-bottom: 54px;
    }
}

.fa-quote-left {
    font-size: 36px;
    color: #5474fd;
}
.fb, .tw, .yt, .pr {
    color: #e8e8e8;
    font-size: 20px;
    
}

.in {
    color: #5474fd;
    font-size: 20px;
}

/* Landscape - телефоны */
